body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    background-color: #000;
    color: rgba(255, 255, 255, 0.8);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: rgba(53, 66, 74, 0.7);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.subheader {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
    color: rgba(30, 255, 0, 0.8);
    box-shadow: #00000082;
}

.section {
    background: none;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgba(0, 255, 8, 0.489);
}

.section h2 {
    color: rgba(4, 212, 39, 0.692);
}

.cta {
    text-align: center;
    margin: 20px 0;
}

.cta button {
    background: #15ff00d3;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.cta button:hover {
    background: #cf3b10;
}

.content-flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

.content-flex img {
    max-width: 100%;
    border-radius: 8px;
}

.content-flex p {
    flex: 1;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .content-flex {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }

    .cta button {
        width: 90%;
        padding: 10px 0;
    }
}
